html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.index {
    background-color: white;
}

.index .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    height: 100vh;
}

.orientation-nav {
    width: 100%;
    height: 100%;
}

.orientation-flex-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.orientation-nav__section {
    position: absolute;
    max-width: 682px;
    width: 50%;
    height: 100%;

    z-index: 999;
}

.orientation-nav__section--left {
    top: 0;
    right: 50%;
}

.orientation-nav__section--right {
    top: 0;
    left: 50%;
}

.orientation-nav__link {
    display: block;
    height: 100%;
    width: 100%;
}

.orientation-nav__background {
    align-self: center;

    width: 100%;
    max-width: 1364px;
    height: 100%;

    background-image: url("images/orientation-nav-index.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.orientation-nav-list {
    display: flex;
    height: 100%;
}

.orientation-nav__section--left:hover ~ .orientation-nav__background {
    animation: orientation-animation-left 2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes orientation-animation-left {
    from {
        background-image: url("images/orientation-nav-left-heads.png"),
            url("images/orientation-nav-left-background.png");

        background-position: center center, center, center;
    }

    0% {
        background-image: url("images/orientation-nav-left-heads.png"),
            url("images/orientation-nav-left-background.png"),
            url("images/orientation-nav-left-image.png");

        background-position: center center, center center, center, center;
    }

    to {
        background-image: url("images/orientation-nav-left-heads.png"),
            url("images/orientation-nav-left-background.png"),
            url("images/orientation-nav-left-image.png");

        background-position: center center, -1000px 0, center center;
    }
}

.orientation-nav__section--right:hover ~ .orientation-nav__background {
    animation: orientation-animation-right 2s linear;
    animation-fill-mode: forwards;
}

@keyframes orientation-animation-right {
    from {
        background-image: url("images/orientation-nav-right-heads.png"),
            url("images/orientation-nav-right-background.png");

        background-position: center center, center, center;
    }

    0% {
        background-image: url("images/orientation-nav-right-heads.png"),
            url("images/orientation-nav-right-background.png"),
            url("images/orientation-nav-right-image.png");

        background-position: center center, center center, center, center;
    }

    to {
        background-image: url("images/orientation-nav-right-heads.png"),
            url("images/orientation-nav-right-background.png"),
            url("images/orientation-nav-right-image.png");

        background-position: center center, 1000px 0, center center;
    }
}
